/*
    Wilmot.css
    © 2019 Marquis Kurt. All rights reserved.
*/

@import url('https://fonts.googleapis.com/css?family=Merriweather|Nunito');

html, body {
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    height: 100%;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Classes for Paper */
.paper {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
    padding-bottom: 25%;
}

/* Sections */
.paper section {
    margin-top: 16px;
    margin-bottom: 16px;
}

.paper section p {
    line-height: 2.0em;
}

.paper section img {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow: 0 0 4px #999;
}

/* See Also section */
.paper section.see-also {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #f4f4f4;
    padding-left: 20px;
    padding-right: 20px;
}

.paper section.see-also .title {
    font-weight: 300;
}

.paper section.see-also .content {
    text-align: center;
}

.paper section.see-also .caption {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0.8;
}

/* Sources section */
.paper section.sources {
    margin-top: 64px;
}

.paper section.sources .source {
    padding-left: 1.25em;
    text-indent: -1.25em;
}

/* Paper blockquotes */
.paper section blockquote {
    padding-top: 24px;
    padding-bottom: 24px;
    font-style: italic;
    background-color: #f4f4f4;
    margin-left: 0;
    margin-right: 0;
    padding-left: 48px;
    padding-right: 8px;
    border-left-color: #333;
    border-left-width: 2px;
    border-left-style: solid;
}

/* Paper buttons */
.paper section .buttons {
    display: inline-block;
    text-align: center;
    margin-bottom: 24px;
    width: 100%;
}

.paper section .buttons.fullwidth {
    display: flex;
    text-align: center;
}

.paper section .button {
    background-color: #03b381;
    color: #fff;
    border-radius: 4px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 16px;
    margin-bottom: 16px;
}

.paper section .button:hover {
    background-color: #35C29A;
}

.paper section .button.fullwidth {
    width: 100% !important;
}

/* Specific header fonts*/
.paper h1, .paper h2, .paper h3, .paper h4, .paper h5, .paper h6 {
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Colors for titles and subtitles */
.paper .title {
    color: #000;
}

.paper .subtitle {
    color: #666;
    line-height: 0.5em;
}

/* Paper on smaller devices */
@media (max-width: 768px) {
    .paper {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

/* Paper on devices that are using dark mode */
@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #181b21;
        color: #edf3ff;
    }

    .paper .title {
        color: #fff;
    }

    .paper .subtitle {
        color: #999;
    }

    .paper section blockquote {
        background-color: #22262e;
        margin-left: 0;
        margin-right: 0;
        padding-left: 48px;
        padding-right: 8px;
        border-left-color: #000;
        border-left-width: 2px;
        border-left-style: solid;
    }

    .paper section.see-also {
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #22262e;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Footer */
footer {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
}